.container {
  width: 1200px;
  margin: 0 auto;
  .carousel {
    width: 1200px;
    height: 481px;
    margin-top: 145px;
    display: flex;
    justify-content: space-between;
    .carousel_nav {
      width: 230px;
      height: 480px;
      background-color: #fff;
      .carousel_nav_bar {
        width: 170px;
        height: 100%;
        margin: 0 auto;
        margin-top: 10px;
        position: relative;
        li {
            

           line-height: 34px;
        //   margin-top: 10px;
          font-size: 12px;
         
      
          a {
            font-size: 12px;
          }
          .subNav {
            width: 800px;
            height: 480px;
            background-color: aqua;
            position: absolute;
            left: 205px;
            top: -10px;
            display: none;

            z-index: 2;

           

            .subNavLi {
              width: 630px;
              height: 100%;
              background-color: #fff;
             
              .li1 {
                // width: 100%;
                // height: 30px;
                display: flex;
                flex-wrap: wrap;
                margin-left: 15px;
                li {
                  margin-top: 5px;
                }
                .bold {
                  font-weight: bold;
                }
                .liClub {
                  height: 40px;
                  margin-top: 15px;
                  margin-right: 10px;
                  background-color: black;
                  // box-sizing: border-box;
                  // padding-left: 5px;
                  border-radius: 10px;
                  > a {
                    line-height: 40px;
                    color: #fff;
                    margin-left: 10px;
                    margin-right: 10px;

                }
             
                }
              }
            }
          
          
          }


       
        }
        >li:hover{
            .subNav{
                display: block;
            }
            background-color: rgb(209, 207, 207);
            a:hover{
                color: red;
            }
        }
      }
    }
    .carousel_img {
      width: 720px;
      height: 480px;
    //   background-color: bisque;
      position: relative;

        .tabNav{
            // padding: 5px 10px;
            overflow: hidden;

            /* 定位脱离文档流  宽高靠内容撑开 */

            position: absolute;
            right: 11px;
            bottom: 104px;
            background: grey;
            a{
                width: 86px;
                height: 5px;
                background: #fff;
                line-height: 20px;
                text-align: center;
                float: left;
                margin-right: 1px;

                :hover{
                    background: #6ff;
                    color: #fff;
                }
            }
            .active{
                background: rgb(240, 114, 92);
                color: #fff;
            }
        }
        .tabList{
            height: 380px;
             overflow: hidden; 
            .show{
                display: block;
            }
            li{
                height: 375px;
                // background: pink;
                border: 1px solid #333;
                text-align: center;
                line-height: 398px;
                display: none;

                img{
                    width: 720px;
                    height: 370px;
                }
            }
            
        }

        .carousel_adv{
            display: flex;
        }
    }
    .carousel_log {
      width: 240px;
      height: 480px;
      background-color: rgb(255, 255, 255);

      position: relative;

      .carousel_log_rl{
          width: 240px;
          height: 152px;

          display: flex;
          flex-direction: column;
          
          
          .carousel_log_rl_img{
              width: 100px;
              height: 400px;
              margin: 0 auto;
              
              background-image: url("https://misc.360buyimg.com/mtd/pc/common/img/no_login.jpg");
          }
          
          .carousel_log_rl_lr{
              height: 210px;
              display: flex;
              justify-content: center;
              font-size: 12px;

              div{
                  margin-left: 10px;
              }
          }
       
          .carousel_log_rl_fl{

              height: 108px;
           display: flex;
           justify-content: space-around;
           align-items: center;
           margin-bottom: 15px;
              .fl,.hy{
                  width: 100px;
                  height: 30px;
                border:none;
                border-radius: 50px;
                

              }
          }
       
        }

        .carousel_log_ser{
            width: 200px;
            height: 210px;
            margin: 0 auto;
            border-top: 1px solid gray;
            .carousel_log_ser_nav{
                display: flex;
                justify-content: space-around;
                a{
                    font-size: 12px;
                }

            }
            .carousel_log_ser_con{

                width: 100%;
                margin: o auto;

                .links{
                    width: 180px;
                    
                    display: flex;
                    flex-wrap: wrap;

                    margin: 20px auto;

                    li{
                        margin-left: 20px;
                        font-size: 13px;
                    }
                }
                .payWay{
                   width: 180px; 
                   margin: 20px auto;
                }
            }

        }

        .carousel_log_infor{
            border-top: 1px solid gray;
            width: 200px;
            font-size: 12px;

            margin: 0 auto;

            .carousel_log_infor_nav{
                display: flex;
                justify-content: space-between;
            }
            .carousel_log_infor_detail{
                margin-top: 15px;
                display: flex;
                flex-direction: column;
            }
        }
    }
  }
  .countdownNav{
      width: 100%;
      height: 266px;
      margin-top: 10px;
      background-color: #fff;
      display: flex;

      .countdown{
          width: 200px;
          height: 100%;
          background-color: red;
          text-align: center;
          color: #fff;

          .countdown-title{
            height: 40px;
            
            line-height: 40px; 
            font-size: 32px;
            font-weight: 300;

            box-sizing: border-box;
            padding-top:10px;

          }
          .countdown-titleEng{


            margin-top: 20px;

            
          }
          .countdown-flash{
              margin-top: 20px;
              height: 50px;
          }
          .countdown-msg{
              margin-top: 15px;
              font-size: 14px;
          }
          .countdown-time{
              width: 126px;
              height: 35px;
              margin: 0 auto;

              display: flex;
            span{
                display: block;
                margin-left: 2px;
                width: 40px;
                height: 35px;
                line-height: 35px;
                background-color: #333;
            }
          }

      }

      .countdown_GL{
            width: 1000px;
            height: 266px;
            display: flex;
            overflow: hidden;
        >li {
            width: 200px;
            height: 266px;
            padding: 20px;
            box-sizing: border-box;

         

         
            

            >img {
                width: 150px;
                height: 150px;
                // margin-top: 50px;
            }
            >.title {
                font-size: 14px;
                // margin-top: 5px;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 2;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            >.price {
                margin-top: 5px;
                font-size: 14px;
                display: flex;

                >.op,.jp{
                    text-align: center;
                    width: 110px;
                    border: 1px solid #333;
                }

                >.jp{
                    color: #fff;
                    background-color: red;
                    
                }
            }
        }
      }
  }

  .navMsg{
      width: 100%;
      height: 380px;
      margin-top: 10px;
    //   background-color: #6ff;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      a{
          width: 290px;
          height: 180px;
          margin-top: 10px;
        //   margin-left: 10px;
          
          img{
            //   display: block;
              width: 100%;
              height: 100%;


          };
      }
  }

  .recommend{
      width: 100%;
      font-size: 40px;
      line-height: 40px;
      text-align: center;

      margin-top: 20px;
    }
    .recommend_img{
        width: 100%;
        height: 1580px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-top: 20px;
      >li {
        width: 230px;
        height: 300px;
        padding: 20px;
        
        box-sizing: border-box;
        background-color: #fff;

     

     
        

        >img {
            width: 160px;
            height: 160px;
            // margin-top: 50px;
        }
        >.title {
            font-size: 14px;
            // margin-top: 5px;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        >.price {
            margin-top: 5px;
            font-size: 14px;
            display: flex;

            >.jp{
                text-align: center;
                width: 110px;
                color: red;
                font-size: 16px;

                margin: 0 auto;
                // border: 1px solid #333;
            }

            // .jp{
            //     color: #fff;
            //     background-color: red;
                
            // }
        }
    }

  }
}
